<div class='col-xs-8 col-xs-offset-2'>
	<%= form_with url: publish_create_publish_request_path, local: true, method: :post do |form| %>
		<div class='form-group'>
			<%= form.label :title %><br />
			<%= form.text_field :title, class: 'form-control', placeholder: 'A title for your dataset' %>
		</div>
		<div class='form-group'>
			<%= form.label :description %><br />
			<%= form.text_area :description, class: 'form-control', size: '50x10', placeholder: 'Give a description for your data' %>
		</div>
		<div class='form-group'>
			<%= form.label :data %><br />
			<%= form.file_field :data, placeholder: 'The facility at which the data was taken' %>
		</div>
		<div class='form-group'>
			<%= form.label :hdu_index, 'HDU Index' %><br />
			<%= form.number_field :hdu_index %>
		</div>
		<div class='actions'>
			<br /><%= form.submit %>
		</div>
	<% end %>
</div>