<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Schema</th>      
      <th scope="col">Resource directory</th>
      <th scope="col">Filename</th>
      <th scope="col">Format</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% @data_products.each_with_index do |data_product, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= data_product.metadatum.title %></td>
      <td><%= data_product.schema %></td>
      <td><%= data_product.resource_directory %></td>
      <td><%= data_product.filename %></td>
      <td><%= data_product.format %></td>
      <td><%= link_to 'Edit Metadata', data_product_edit_metadata_path(id: data_product.id) %></td>
      <td><%= link_to 'Edit Metadata', data_product_edit_metadata_path(id: data_product.id) %></td>
      <td><%= link_to 'Show', data_product_show_path(id: data_product.id) %></td>
      <td><%= link_to 'Accept', data_product_accept_path(id: data_product.id), method: :post %></td>
    </tr>
    <% end %>
  </tbody>
</table>