<% if @data_products.length > 0 %>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Schema</th>      
      <th scope="col">Resource directory</th>
      <th scope="col">Filename</th>
      <th scope="col">Format</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <% if @can_publish %>
      <th scope="col"></th>
      <th scope="col"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @data_products.each_with_index do |data_product, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= data_product.metadatum.title %></td>
      <td><%= data_product.schema %></td>
      <td><%= data_product.resource_directory %></td>
      <td><%= data_product.filename %></td>
      <td><%= data_product.format %></td>
      <td><%= link_to 'Show', data_product_show_path(id: data_product.id) %></td>
      <td><%= link_to 'Generate resource descriptor', publish_generate_rd_path(id: data_product.id), method: :post %></td>
      <% if @can_publish %>
      <td><%= link_to 'Publish to the VO', publish_imp_q_path(id: data_product.id), method: :post %></td>
      <td><%= link_to 'Visit service', "http://localhost:8080/browse/#{data_product.schema}/q", target: :_blank %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <br />
  <p class="text-center">There aren't accepted petetitions.</p>
  <br />
<% end %>