<h1 align='center'><%= @data_product.metadatum.title %></h1>

<hr />

<h2>Data Product</h2>

<p><strong>Schema</strong>: <%= @data_product.schema %></p>
<p><strong>Resource directory</strong>: <%= @data_product.resource_directory %></p>
<p><strong>Filename</strong>: <%= @data_product.filename %></p>
<p><strong>Format</strong>: <%= @data_product.format %></p>
<p><strong>HDU Index</strong>: <%= @data_product.hdu_index %></p>

<hr />

<h2>Metadata</h2>

<p><strong>Description</strong>: <%= @data_product.metadatum.description %></p>
<p><strong>Creation date</strong>: <%= @data_product.metadatum.created_at %></p>
<p><strong>Creators</strong>: <%= @data_product.metadatum.creators %></p>
<p><strong>Subjects</strong>: <%= @data_product.metadatum.subjects %></p>
<p><strong>Instrument</strong>: <%= @data_product.metadatum.instrument %></p>
<p><strong>Facility</strong>: <%= @data_product.metadatum.facility %></p>
<p><strong>Type</strong>: <%= @data_product.metadatum.type_alt %></p>
<p><strong>Coverage waveband</strong>: <%= @data_product.metadatum.coverage_waveband %></p>

<hr />

<h2>Columns</h2>

<% @data_product.fits_columns.each do |col| %>
	<h4><strong><%= col.name %></strong> (<small><%= col.identifier %> in FITS</small>)</h4>
	
	<p><strong>Description</strong>: <%=  col.description %></p>
	<p><strong>Type</strong>: <%=  col.type_alt %></p>
	<p><strong>Verb</strong>: <%=  col.verb_level %></p>

	<% if not col.unit.blank? %>
	<p><strong>Unit</strong>: <%=  col.unit %></p>
	<% end %>

	<% if not col.unit.blank? %>
	<p><strong>UCDs</strong>: <%=  col.ucds %></p>
	<% end %>
	
	<p><strong>Required</strong>: <%=  col.required %></p>
	<br />
<% end %>